.about-container {
  display: flex;
  padding-top: 15px;
}

/* This affects all of the other pages 
in this folder as well because they all use the same className */
.main-content-small {
  width: 90%;
  margin: auto;
}

.main-content {
  width: 60%;
}

.main-content,
.main-content-small p {
  color: grey;
}

#resume-link {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: black;
}

.main-content li {
  color: black;
}
