.navbar-container {
    text-align: right;
    margin-right: 10px;
    width: 30%;
    float: left;
}

.nav-item {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.nav-item:hover {
    color: red;
}